* {
    box-sizing: border-box;
}

html {
    background-color: black;
    color: aliceblue;

}

body {
    margin-top: 100px;
    padding: 0;
    font-family: 'Libre Baskerville', sans-serif;
    overflow-y: scroll;
  }
  

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color:black;
}

.navbar li {

    display: inline-block;
    padding: 14px 16px;  
}
.navbar a {
    float: left;
    text-decoration: none;
    text-align: center;
    color: aliceblue;
    font-weight: 500;
    vertical-align: top;
}
hr {
    border: 2px solid green;
    max-width: 100%;
}

.social-media li {
    display: inline-block;
    margin: 8px;
    padding: 0;
}
ul {
    list-style-type: none;
         
  }

 i {
     color: brown;
 }
 
 .container1 {
    display: flex;
    justify-content: space-around;
 }

 .column .name {
    font-size: 18px;
    letter-spacing: 1.6;
    font-weight: 400;
 }

 .column .about {
     flex: 50%;
     font-weight: 300;
     
 }

 .column #career {

    font-size: 40px;
     letter-spacing: 1.6;
     letter-spacing: -1px;
     margin-left: 80px;
     margin-right: 80px;
     font-weight: 500;
     margin-top: 15px;
 }

 .about p {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.6;

 }


 img {
    width: 50%;
    height: auto; 
 }

  #contact {
    text-align: center;
}
 
 .column .personal-details {
     flex: 50%;
 }

 .column .social-media {
     flex: 50%;
 }

 .contact-details {
     display: flex;
     justify-content: center;
     justify-content: space-around;
 }
 h2 .title{
     text-align: center;

 }

 
 .personal-details {
     letter-spacing: 2px;
     line-height: 1.6;
 }
 
@media only screen and (max-width: 768px) {
    
    .column .social-media {
        display: flex;
    }
   
 }
 @media only screen and (max-width: 600px) {
     #about {
         position: relative;
         top: 50px;
     }
    
  .about {
    align-content: flex-start;
    
}
  

}
