    * {
        box-sizing: border-box;
    }
    
    html {
        background-color: black;
        color: aliceblue;
    }
html, body {
    margin: 0;
    padding: 0;
}
#photos {
    margin-top: 100px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.photography {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 4px;
}
.col {

    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    
}
.container {
    margin: 0 auto;
    /* height: 316px; */
}
.col img {
    margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

a {
    text-decoration: none;
    color: lightseagreen;
}

.row {
    display: inline-flex;
    justify-content: space-around;
}

#videos {
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
    font-size: 40px;
}

.videos a {
    display: block;
    flex-direction: row;
}

/* for smaller screens */
@media only screen and (max-width: 800px) {
    .col {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media  screen and (max-width: 600px) {
    .col {
        flex: 100%;
        max-width: 100%;
    }
}